body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: black;
    color: gold;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: gold;
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #222;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.price {
    color: gold;
    font-size: 18px;
}

.add {
    background: orange;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.buy {
    background: green;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}
